body
{
  margin: 0;
  padding: 0;
  background-color: #65546B;
  font-family: serif;
  font-size: 32px;
  text-align: center;
}

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-family: cursive; /*For now*/
  text-align: center;
  display: block;
}

a:hover {
  color: darkGrey;
  text-decoration: underline;
  text-align: center;
  display: block;
}
