body
{
  background-color: #65546B;
  font-family: serif;
  font-size: 32px;
  text-align: justify;
  text-justify: inter-word;
  margin: 0 auto;
  width: 30em;
}

button
{
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
/*
button:hover {
  background-color: #65546B;
  color: white;
}
*/
a
{
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-family: cursive; /*For now*/
  text-align: center;
  display: block;
}

a:hover
{
  color: darkGrey;
  text-decoration: underline;
  text-align: center;
  display: block;
}

#panic
{
  background-color: black;
  color: white;
}

#options
{
  visibility: hidden;
}

#party
{
  visibility: hidden;
}
